body{

    background-color: white;
}



.titulo {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;

}

.subtitulo {

    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
    justify-content: center;

}

.container-publi {

    color: white;

    text-align: center;
    justify-content: center;
    font-size: 100px;

}

.text {

    padding-top: 35px;
    padding-right: 10%;
    padding-left: 0%;
    letter-spacing: 1px;
    line-height: 35px;
    color: rgb(37, 38, 39);
    text-align: center;
    max-width: 800px;

}

.cliente {

    color: rgb(252, 17, 17);

}

.lula {

    color: #6A5ACD;

}
.bob {

    color: 	#FFBF00; 

}

.imagemtexto{

    box-shadow: 2px 3px 10px black;
    border-color: black;
    display:grid;
    grid-template-columns: 400px 1fr;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 35px;  
}

.imagemtexto2{

    box-shadow: 2px 3px 10px black;
    border-color: black;
    display:grid;
    grid-template-columns: 400px 1fr    ;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 35px;  
}
.imagemtexto3{

    box-shadow: 2px 3px 10px black;
    border-color: black;
    display:grid;
    grid-template-columns: 400px 1fr;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 35px;  
}

.container-publi{

    padding-top: 70px;
    text-align: center;
    font-size: 15px;
    color: black;
    


}

.bobesponja{

    box-shadow: 2px 3px 10px black;
    border-color: black;
    display:grid;
    grid-template-columns: 1fr 400px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 35px;
  
}
.listinha{
    justify-content: end;
    
}
