body{

    background-color: #555;
}



.titulo {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;

}

.subtitulo {

    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;

}

.container-publi {

    color: white;

}

.text {
    padding-top: 35px;
    padding-right: 10%;
    padding-left: 0%;
    font-size: 20px;
    letter-spacing: 3px;
    line-height: 35px;
    color: rgb(37, 38, 39);
    text-align: justify;

}

.cliente {

    color: black;

}

.imagemtexto{

    border-radius: 10px;
    box-shadow: 2px 3px 10px white;
    border-color: white;
    display:grid;
    grid-template-columns: 400px 1fr;
    border-width: auto;
    padding: 1rem;
    gap: 1rem;
  
}

.container-publi{

    padding-top: 70px;
    text-align: center;
    font-size: 30px;


}