body{

    background-color: white;
}



.titulo {
    padding-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;

}

.subtitulo {

    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);

}

.container-publi {

    color: white;

}

.text {
    padding-top: 35px;
    padding-right: 10%;
    padding-left: 0%;
    font-size: 15px;
    letter-spacing: 3px;
    line-height: 35px;
    color: rgb(37, 38, 39);
    text-align: justify;

}

.cliente {

    color: rgb(252, 17, 17);

}

.imagemtexto{

    box-shadow: 2px 3px 10px black;
    border-color: black;
    display:grid;
    grid-template-columns: 400px 1fr;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 35px;  
}

.container-publi{

    padding-top: 70px;
    text-align: center;
    font-size: 15px;
    color: black;
    


}

.bobesponja{

    box-shadow: 2px 3px 10px black;
    border-color: black;
    display:grid;
    grid-template-columns: 1fr 400px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
    margin-bottom: 35px
  
}

.{

    padding-top: 70px;
    text-align: center;
    font-size: 30px;
    color: black;
    


}

.siriguejo{

    box-shadow: 2px 3px 10px black;
    border-color: black;
    display:grid;
    grid-template-columns: 1fr 400px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
  
}

.text-info{

    padding-top: 70px;
    text-align: center;
    font-size: 15px;
    color: black;
    


}