.contato {
  padding: 1rem 0;
}

.contato h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contato ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contato ul li span:first-child {
  font-weight: bold;
  margin-right: 4px;
}
