@import url("https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("./geral-header.css");
@import url("./geral-intro.css");
@import url("./geral-block.css");

body {
  font-family: "Roboto Slab", serif;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
