.header {
  background-color: #222222;
}

.header-container {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

.header-brand {
  flex: 1;
}

.header-menu ul {
  display: flex;
  align-items: center;

  flex-wrap: wrap;

  gap: 1px;
}

.header a {
  display: block;
  padding: 12px;

  color: white;

  text-decoration: none;

  background-color: #222;
}

.header-menu ul li.active a {
  background-color: #555;
}

.header-brand a {
  width: min-content;
}