.localization-intro-text p {
  margin-bottom: 0.5rem;
}

.localizacoes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.localizacoes li span:first-child {
  font-weight: bold;
  margin-right: 4px;
}
