.ourMenuPage, .majorPhrase{
  display: flex;
  justify-content: center;
}

.ourMenuPage {
  font-size: 1.8rem;
}

.majorPhrase {
  font-size: 0.9rem;
}

.menuItems {
  
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-wrap: wrap;

}

.productImage {
  width: 350px;
  padding: 0px;
}


.productName {
  font-size: 1.2rem;
  margin-top: 0px;
}
