.app-footer {
  color: white;
}

.app-footer .app-footer-infos-bg {
  background: rgb(111, 8, 8);
}

.app-footer h2 {
  font-size: 1.5rem;
  font-weight: bold;

  margin-bottom: 1rem;
}

.app-footer .app-footer-infos {
  padding: 2rem 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 2rem;
}

.app-localizacao {
  flex: 1 1;
}

.app-localizacao-descricao p {
  line-height: 1.3;
  margin: 1rem 0;
}

.app-localizacao img {
  border: 10px solid rgb(211, 173, 38);
  border-radius: 1rem;
}

.app-contato .app-contato-lista {
  display: flex;
  flex-direction: column;

  padding: 1rem 0;
}

.app-contato .app-contato-lista li {
  padding: 1rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.575);
}

.app-contato .app-contato-lista li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.575);
}

.app-footer .app-footer-copy {
  background: rgb(72, 3, 3);
  text-align: center;
  padding: 1rem;
}
