.app-header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  z-index: 1000;
  position: relative;
}

.app-header-container {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 1rem;
}

.app-header-brand img {
  height: 4.5rem;
}

.app-header-links {
  display: flex;

  align-items: center;

  gap: 0.5rem;
}

.app-header-links a {
  border-radius: 0.5rem;

  padding: 0.5rem 1.25rem;

  border: 1px solid rgba(0, 0, 0, 0.3);
}

.app-header-links a.app-ativo {
  background-color: red;
  color: white;
}
