.app-home {
  background-color: white;
}

.app-home-intro {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  width: 100%;
}

.app-home-intro img {
  width: 100%;
  object-fit: cover;

  grid-row: 1/2;
  grid-column: 1/2;
}

.app-home-intro-text {
  grid-row: 1/2;
  grid-column: 1/2;

  z-index: 1;

  align-self: end;

  color: white;

  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.app-home-intro-text .app-home-intro-title {
  font-weight: bold;
  color: white;

  font-size: 2rem;

  margin-bottom: 0.75rem;
}

.app-home-intro-text p {
  font-size: 1.25rem;

  line-height: 1.3;
}

@media screen and (max-width: 639px) {
  .app-home-intro img {
    height: 15rem;
  }
}

@media screen and (min-width: 640px) {
  .app-home-intro img {
    height: 20rem;
  }
}

.app-secao {
  padding: 2rem 0;

  border-top: 1px solid #00000047;
}

.app-secao h1 {
  /* margin: 0;
  font-size: 1.75rem;
  font-weight: bold;

  margin-bottom: 1rem; */

  margin-bottom: 25px;

  font-family: "Tilt Warp", cursive;

  text-align: center;

  font-size: 1.9rem;
}

.app-linha-horizontal {
  margin: 30px 0;

  display: flex;
  text-align: center;

  /* width: 90%; */
  border: 1px solid #000;
}

section:nth-child(2n + 0) {
  background-color: #eee;
}

section:nth-child(2n + 1) {
  background-color: white;
}
